@import '../../assets/css/colors.css';

.input {
  border: 1px solid var(--silver-chalice);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--silver-chalice);
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
  height: 35px;
  padding: 4px;
  width: 100%;
}

.input::placeholder {
  color: var(--silver-chalice);
}

.error {
  border-color: var(--pomegranate);
  color: var(--pomegranate);
}

.error::placeholder {
  color: var(--pomegranate);
}
