:root {
  --alabaster: #F8F8F8;
  --silver-tree: #5CBD8D;
  --pomegranate: #ED4D19;
  --mine-shaft: #2B2B2B;
  --white: #FFFFFF;
  --silver-chalice: #A5A5A5;
  --galery: #F0F0F0;
  --mercury: #E1E1E1;
}