@import '../../assets/css/colors.css';

.container {
  display: flex;
  padding: 20px;
}

.form {
  background-color: var(--galery);
  height: auto;
  padding: 14px 10px;
  border-radius: 4px;
  border: 1px solid var(--mine-shaft);
  box-sizing: border-box;
}

.formGroup {
  padding-bottom: 16px;
}

.geometry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.geometry > * {
  width: 49.6% !important;
}

.content {
  width: 100%;
  padding-left: 30px;
}

.sideBar {
  box-sizing: border-box;
  padding: 0 30px;
  border-right: 1px solid var(--mine-shaft);
}

.spacing {
  margin-top: 30px;
}

.error {
  color: var(--pomegranate);
  display: block;
  width: 100%;
}
