@import '../../assets/css/colors.css';

.marker {
  background-color: var(--mine-shaft);
  border-radius: 50% 50% 50% 0;
  box-sizing: border-box;
  color: var(--white);
  font-size: 1.4em;
  font-weight: 600;
  height: 50px;
  padding: 10px;
  position: absolute;
  transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
  transform-origin: 50% 50%;
  width: 50px;
}

.markerText {
  display: block;
  text-align: center;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(46deg);
}

.container {
  border: 1px solid var(--mine-shaft);
  border-radius: 5px;
  height: 550px;
  width: 100%;
}
